:root {
  --background: #fdfaf3;
  --foreground: #2d2926;
  --card: #fdfaf3;
  --card-foreground: #2d2926;
  --popover: #fdfaf3;
  --popover-foreground: #2d2926;
  --primary: #991b1b;
  --primary-foreground: #fdfaf3;
  --secondary: #e6dfd1;
  --secondary-foreground: #2d2926;
  --muted: #8b7e66;
  --muted-foreground: #6b5f4c;
  --accent: #b45309;
  --accent-foreground: #fdfaf3;
  --destructive: #ef4444;
  --destructive-foreground: #fdfaf3;
  --border: #d2c4ae;
  --input: #d2c4ae;
  --ring: #991b1b;
  --radius: 0.25rem;
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #991b1b;
  --chart-2: #b45309;
  --chart-3: #8b7e66;
  --chart-4: #2d2926;
  --chart-5: #d2c4ae;
  --sidebar: #fdfaf3;
  --sidebar-foreground: #2d2926;
  --sidebar-primary: #991b1b;
  --sidebar-primary-foreground: #fdfaf3;
  --sidebar-accent: #e6dfd1;
  --sidebar-accent-foreground: #2d2926;
  --sidebar-border: #d2c4ae;
  --sidebar-ring: #991b1b;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
}

.dark {
  --background: #fdfaf3;
  --foreground: #2d2926;
  --primary: #991b1b;
}
